:root {
  --primary-color: #f2784b;
  --sub-primary-color: #afd5d8;
  --secondary-color: #f2a25c;
  --title-color: rgb(97, 96, 96);
  --line-color: rgb(197, 195, 195);
  --pink: #f2c1b6;
  --green: #b6bf95;
}
